<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.personalmusicsystem.mapper.NoticeMapper">
    
    <resultMap id="BaseResultMap" type="com.example.personalmusicsystem.entity.Notice">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="publish_time" property="publishTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM notice WHERE id = #{id}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notice (title, content, type, status, publish_time)
        VALUES (#{title}, #{content}, #{type}, #{status}, #{publishTime})
    </insert>
    
    <update id="update">
        UPDATE notice
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM notice WHERE id = #{id}
    </delete>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM notice
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM notice
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    
</mapper>

