<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.personalmusicsystem.mapper.UserMapper">
    
    <resultMap id="BaseResultMap" type="com.example.personalmusicsystem.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="nickname" property="nickname"/>
        <result column="preferences" property="preferences"/>
        <result column="role" property="role"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE id = #{id}
    </select>
    
    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE username = #{username}
    </select>
    
    <select id="selectByPhone" resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE phone = #{phone}
    </select>
    
    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE email = #{email}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (username, phone, email, password, avatar, nickname, preferences, role, status)
        VALUES (#{username}, #{phone}, #{email}, #{password}, #{avatar}, #{nickname}, #{preferences}, #{role}, #{status})
    </insert>
    
    <update id="update">
        UPDATE `user`
        <set>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="password != null">password = #{password},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="preferences != null">preferences = #{preferences},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM `user` WHERE id = #{id}
    </delete>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM `user`
        <where>
            <if test="keyword != null and keyword != ''">
                AND (username LIKE CONCAT('%', #{keyword}, '%')
                OR nickname LIKE CONCAT('%', #{keyword}, '%')
                OR phone LIKE CONCAT('%', #{keyword}, '%')
                OR email LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="role != null and role != ''">
                AND role = #{role}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM `user`
        <where>
            <if test="keyword != null and keyword != ''">
                AND (username LIKE CONCAT('%', #{keyword}, '%')
                OR nickname LIKE CONCAT('%', #{keyword}, '%')
                OR phone LIKE CONCAT('%', #{keyword}, '%')
                OR email LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="role != null and role != ''">
                AND role = #{role}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    
</mapper>

